<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <!--play-circle radio library search-->
      <ion-icon aria-hidden="true" name="chatbubble-ellipses-outline"></ion-icon>
      <ion-label>聊天室</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon aria-hidden="true" name="globe-outline"></ion-icon>
      <ion-label>地圖集</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
      <ion-label>點餐管理</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon aria-hidden="true" name="logo-bitcoin"></ion-icon>
      <ion-label>區塊鏈</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
<!--
  <ion-content class="ion-padding">
  <h1>Content</h1>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>
-->