<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 2 page"></app-explore-container>
  -->
  <!--<div id="map" class="map"></div>-->
  <!-- 放大縮小 -->
  <!--
  <button (click)="zoom_out()">Zoom out</button>
  <button (click)="zoom_in()">Zoom in</button>
  <button (click)="CircleradiusAdd()">Zoom Circler in</button>
  <div [(ngModel)]="position" id="mouse-position" ></div>
  <div id="mousePositionControl"></div>
  <input (click)="testChange($event)" id="precision" type="number" min="0" max="12" value="4"/>
  <input type="datetime-local" />
  <input type="week" />
  -->
</ion-content>
