<ion-content class="ion-padding">
<ion-button>送出餐點</ion-button>

<ion-button slot="fixed" expand="block" (click)="setOpen(true)">點餐內容</ion-button>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Modal</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-list>
        <ion-item *ngFor="let element of buyItem ; index as i;">
          <ion-label>{{element['name']}}</ion-label>
          <ion-badge color="primary">{{element['number']}}</ion-badge>
        </ion-item>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<ion-item-group *ngFor="let element of foods ; index as i;">
  <ion-item-divider *ngIf="checkType(element['type'])">
    <ion-label>{{element['type']}}</ion-label>
  </ion-item-divider>
  <ion-item>
    <ion-thumbnail slot="start">
      <img alt="Silhouette of mountains" src="assets/food/{{element['imgSrc']}}" />
    </ion-thumbnail>
    <ion-label>{{element['name']}}</ion-label>
    <ion-button slot="end" size="default" (click)="userAddItem(element['id'],element['name'])"> + </ion-button>
    <ion-badge color="secondary">數量:{{element['quantity']}}</ion-badge>
    <ion-button slot="end" size="default" (click)="userCutItem(element['id'],element['name'])"> - </ion-button>
    <ion-button id="present-alert{{element['id']}}">餐點介紹</ion-button>
  </ion-item>
  <ion-alert
  trigger="present-alert{{element['id']}}"
  header="食物介紹"
  subHeader="{{element['name']}}"
  message="{{element['content']}}"
  [buttons]="alertButtons"
></ion-alert>
</ion-item-group>
</ion-content>